# Dependency directories
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log

# Build output
dist/
build/
.vercel
.netlify

# Editor and OS files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
Thumbs.db

# Debug
.npm
.eslintcache
.node_repl_history

# PM2
.pm2/
ecosystem.config.js 